In [39]:
import pandas as pd
import numpy as np

In [40]:
# Load CSV
file_path = "output/step-1-weeks-added.csv"
df = pd.read_csv(file_path)
df.columns = df.columns.str.strip()
df.tail()

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades,Day,Week
245,2025-01-28,EQ,"1,647.00","1,684.30","1,647.00","1,629.80","1,673.30","1,670.40","1,670.57","1,880.00","1,363.55","1,50,89,656","25,20,82,71,808.85","3,50,835",Tuesday,5
246,2025-01-29,EQ,"1,675.00","1,681.15","1,668.85","1,670.40","1,676.00","1,677.30","1,675.45","1,880.00","1,363.55","63,09,945","10,57,19,94,646.45","1,96,187",Wednesday,5
247,2025-01-30,EQ,"1,681.00","1,697.90","1,672.55","1,677.30","1,693.10","1,691.50","1,685.73","1,880.00","1,363.55","1,28,72,423","21,69,94,04,205.05","2,63,161",Thursday,5
248,2025-01-31,EQ,"1,687.25","1,704.70","1,683.95","1,691.50","1,699.50","1,698.75","1,696.52","1,880.00","1,363.55","79,10,843","13,42,08,73,179.40","2,15,938",Friday,5
249,2025-02-01,EQ,"1,697.50","1,713.00","1,676.05","1,698.75","1,692.00","1,690.95","1,694.22","1,880.00","1,363.55","27,93,764","4,73,32,38,897.95","88,839",Saturday,5

In [41]:
# List to store processed data
final_list = []
prev_week = None

# Process each week
for week, group in df.groupby('Week'):
    # Add the week's data
    final_list.append(group)

    # Calculate Weekly High & Weekly Low
    weekly_high = group['HIGH'].max()
    weekly_low = group['LOW'].min()

    # Create a summary row
    summary_row = pd.DataFrame({
        'Date': [""], 
        'Day': ["WEEKLY SUMMARY"], 
        'HIGH': [weekly_high], 
        'LOW': [weekly_low]
    })

    # Append the summary row
    final_list.append(summary_row)

# Combine all data
final_df = pd.concat(final_list, ignore_index=True)
final_df.tail(20)
df = final_df

In [42]:
# Define new columns with NaN values
new_columns = ["Order Type", "Buy Quantity", "Investment", "Total Share", "Total Investment", 
               "Average Price", "Target", "IRLower", "IRUpper", "Description"]
# Columns to drop
columns_to_drop = ["series", "ltp", "vwap", "52W H", "52W L", "VOLUME", "VALUE", "No of trades"]

# Drop the columns (ignoring errors if a column is missing)
df = df.drop(columns=columns_to_drop, errors='ignore')

# Add new columns with NaN
for col in new_columns:
    df[col] = pd.NA

df.head(20)
# df.columns

,Date,OPEN,HIGH,LOW,PREV. CLOSE,close,Day,Week,Order Type,Buy Quantity,Investment,Total Share,Total Investment,Average Price,Target,IRLower,IRUpper,Description
0,2024-12-30,"1,792.20","1,815.00","1,771.00","1,798.25","1,777.90",Monday,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,2024-12-31,"1,770.30","1,781.80","1,765.60","1,777.90","1,772.85",Tuesday,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,2025-01-01,"1,773.45","1,794.00","1,761.10","1,772.85","1,782.75",Wednesday,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,2025-01-02,"1,777.10","1,803.45","1,773.00","1,782.75","1,793.75",Thursday,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,2025-01-03,"1,791.00","1,795.25","1,746.30","1,793.75","1,749.20",Friday,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,,NaN,"1,815.00","1,746.30",NaN,NaN,WEEKLY SUMMARY,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6,2025-01-06,"1,740.10","1,757.20","1,705.80","1,749.20","1,710.50",Monday,2.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
7,2025-01-07,"1,715.00","1,721.00","1,700.00","1,710.50","1,713.40",Tuesday,2.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
8,2025-01-08,"1,708.25","1,711.65","1,683.35","1,713.40","1,694.30",Wednesday,2.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9,2025-01-09,"1,684.15","1,689.00","1,658.10","1,694.30","1,667.80",Thursday,2.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
10,2025-01-10,"1,671.00","1,674.90","1,654.00","1,667.80","1,656.75",Friday,2.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
11,,NaN,"1,757.20","1,654.00",NaN,NaN,WEEKLY SUMMARY,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
12,2025-01-13,"1,640.00","1,646.75","1,624.30","1,656.75","1,630.85",Monday,3.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
13,2025-01-14,"1,639.90","1,656.20","1,637.00","1,630.85","1,646.60",Tuesday,3.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
14,2025-01-15,"1,656.50","1,662.70","1,636.30","1,646.60","1,643.05",Wednesday,3.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
15,2025-01-16,"1,652.85","1,660.55","1,642.85","1,643.05","1,652.05",Thursday,3.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
16,2025-01-17,"1,643.50","1,650.50","1,628.50","1,652.05","1,636.75",Friday,3.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
17,,NaN,"1,662.70","1,624.30",NaN,NaN,WEEKLY SUMMARY,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
18,2025-01-20,"1,626.00","1,660.95","1,626.00","1,636.75","1,651.25",Monday,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
19,2025-01-21,"1,658.25","1,661.05","1,633.05","1,651.25","1,642.40",Tuesday,4.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [43]:
# Save the processed CSV
output_path = "output/step-2-weekly-highs-and-lows.csv"
df.to_csv(output_path, index=False)

print(f"CSV processed and saved as {output_path}.")

CSV processed and saved as output/step-2-weekly-highs-and-lows.csv.